.content{
	background-color: rgba(255,255,255,0.2);
	font-size: 1.3vw;
	width: 50%;
	font-style: unset;
	margin-left: 24vw;
	margin-top: 7vw;
	padding: 1.8vw;
	border: 0.2vw solid black;
	border-radius: 2.5vw;
}
body{
	background-image: url("./images/IIITH.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
	margin: 0px;
}
#background-headbar{
	background-color: rgba(255,255,255,0.5);
	height: 3.7vw;
	width: 100%;
}
.heading111{
	float: left;
	color: black;
	font-size: 1.45vw;
	left: 19.0vw;
	top: 0.9vw;
	position: absolute;
}
.heading222{
	float: left;
	color: black;
	font-size: 1.45vw;
	left: 27.0vw;
	top: 0.9vw;
	position: absolute;	
}
.heading333{
	float: left;
	color: black;
	font-size: 1.45vw;
	left: 38.0vw;
	top: 0.9vw;
	position: absolute;	
}
.heading444{
	float: left;
	color: black;
	font-size: 1.45vw;
	left: 55.3vw;
	top: 0.9vw;
	position: absolute;	
}
.heading555{
	float: left;
	color: black;
	font-size: 1.45vw;
	left: 72.3vw;
	top: 0.9vw;
	position: absolute;	
}
#TEXT{
	margin-left: 19%;
}
.heading111:hover{
	font-weight: bold;
}
.heading222:hover{
	font-weight: bold;
}
.heading333:hover{
	font-weight: bold;
}
.heading444:hover{
	font-weight: bold;
}
.heading555:hover{
	font-weight: bold;
}